<!--Copyright 2021 Battelle Energy Alliance-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Action Properties</title>
    <link href="../styles/Editors.css" rel="stylesheet" />
    <script src="./lib/jsonpath-0.8.0.js"></script>
    <script type="module">
        import { CodeJar } from "./lib/codejar.js";
        import { withLineNumbers } from "./lib/linenumbers.js";
    
        window.CodeJar = CodeJar;
        window.withLineNumbers = withLineNumbers;
    </script>
    <script src="./lib/prism.js"></script>
    <script src="../config.js"></script>
    <script src="../scripts/jquery/jquery-2.1.4.js"></script>
    <script src="../scripts/angular/angular.js"></script>
    <script src="../scripts/UI/Blob.js"></script>
    <script src="../scripts/UI/Common.js"></script>
    <script src="../scripts/UI/FileSaver.js"></script>
    <script src="../scripts/UI/wcfService.js"></script>
    <script src="./customForms.js"></script>
    <script src="./components/code-editor.js"></script>
    <script src="ActionEditor.js"></script>
    <style type="text/css">
        html, .fill-height {
            height: 100%;
        }
        table2 {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            font-size: 12px;
        }

        td2, th2 {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 0px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        code-editor {
            flex: 1;
            margin-right: 12px;
        }
    </style>
</head>
<body ng-app="actionModule" class="fill-height">
    <div ng-controller="actionController" id="actionControllerPanel" class="fill-height">
        <form novalidate class="fill-height">
            <div style="display: table; border-collapse: collapse;">
                <div style="display:table-row">
                    <span style="display:table-cell;">Type:</span>
                    <select style="width: 140px; display: table-cell;" id="ScopeOption" ng-model="data.action" ng-options="act.name for act in data.actions" name="Type"></select>
                </div>
                <div style="display:table-row">
                    <span style="display:table-cell">Name:</span>
                    <input style="display:table-cell;" ng-model="name" tabindex="1">
                    <span style="display:table-cell;">
                        <input type="checkbox" name="AsNewItem" id="AsNewItem" value="false" ng-model="saveAsNew" onchange="setAsNewChecked()" />
                        <label for="AsNewItem" id="AsNewItemText"> Save As New</label>
                    </span>
                </div>
                <div style="display:table-row">
                    <span style="display:table-cell">Desc:</span>
                    <input style="display:table-cell;" ng-model="desc" size="40" tabindex="2">
                </div>
            </div>
            <div style="display: table; border-collapse: collapse;">
                <div id="moveTruePanel" ng-if="data.actionData.moveFromCurrentTrue" style="display:table-row;">
                    <span style="display: table-cell; vertical-align: middle; font-size: 1.2em; color: green; padding-top: 0.5em;">Exits parent state when event is Triggered</span>
                </div>
                <div id="moveFalsePanel" ng-if="data.actionData.moveFromCurrentFalse" style="display:table-row;">
                    <span style="display: table-cell; vertical-align: middle; font-size: 1.2em; color: green; padding-top: 0.5em;">Stays in a parent state but adds new state as a current state</span>
                </div>
            </div>
            <hr />
            <div id="detailTable" class="fill-height">
                <!-- Begin Transition Type -->
                <div id="TransitionPanel" ng-if="data.action.value=='atTransition'">
                    <div style="display: table;">
                        <div style="display: table-row;">
                            <b style="display: table-cell;">Instructions:</b>
                            <p style="display: table-cell; padding: 0.5em">To add a new destination state, drag and drop a State from the sidebar into the To State box and then fill in the probability.</p>
                        </div>
                        <div style="display:table-row;">
                            <input id="mutuallyExclusive" style="display: table-cell; margin: 0 3em 0 3em;" type="checkbox" onchange="mutuallyExclusiveHandler(this);" ng-true-value=true ng-false-value=false ng-checked=mutExcl />
                            <label for="mutuallyExclusive" style="display: table-cell; padding: 0.5em">Mutually Exclusive (will transition to one and only one of the states in the list)</label>
                        </div>
                    </div>
                    <br />
                    <table ng-table="data.transitions" style="text-align: left;" border="1" cellpadding="2" cellspacing="2">
                        <tbody>
                            <tr class="tabHeader">
                                <th ng-repeat="head in data.transHeader" width="{{head.width}}"><span>{{head.column}}</span></th>
                            </tr>
                            <tr ng-repeat="row in data.transitions">
                                <!--<td style="display:none;"><input type="checkbox" value="{{row.To_State}}" onchange="toStateChecked(this, event); return false;" /></td>-->
                                <td style="vertical-align: top;" ng-scope>
                                    {{row.To_State}}
                                </td>
                                <td style="vertical-align: top;" ng-scope>
                                    <!--<input type="text" ng-model="row.Probability" style="border: none; background-color: transparent;" onkeypress="return validateNumber(this, event);" />-->
                                    <input type="text" ng-model="row.Probability" style="border: none; background-color: transparent;" onfocusout="validateNumber(this);" />
                                </td>
                                <td style="vertical-align: top;" ng-scope>
                                    <select style="width: 120px;" ng-model="row.varProb" ng-options="opt.name as opt.name for opt in data.cvVariables">
                                        <option></option>
                                    </select>
                                </td>
                                <td style="vertical-align: top;" ng-scope>
                                    <img src="../images/delete.png" rowValue="{{row.To_State}}" title="Remove" style="width:25px;height:25px;" onclick="toStateChecked(this, event); deleteTransition(); return false;" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--  <p>*If there is already a destination state, you must first delete the state (using the delete button in the command column) before adding a new one.</p> />-->
                <!-- End Transition Type -->
                <!-- Begin Change Var Value Type -->
                <div id="ChangeVarPanel" ng-if="data.action.value=='atCngVarVal'">
                    <div style="display: table;">
                        <div style="display:table-row">
                            <div style="display:table-cell">
                                <span>Variable: </span>
                                <select id="SelectionCvVariable" name="Variable" ng-model="data.cvVariable" ng-options="opt.name for opt in data.cvVariables" style="width: 130px;"></select>
                            </div>
                        </div>
                        <div style="display:table-row">
                            <span style="display:table-cell; padding: 1em 0 1em 0">New Value Code (c#) - Must return same type as the specified variable!</span>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; align-items: stretch; height: calc(100vh - 12em); width: 98vw;">
                        <code-editor code="data.cvCode"></code-editor>
                        <table id="tblVariables" style="text-align: left;" border="1" cellspacing="0">
                            <tr>
                                <th colspan="2">Variables used in code</th>
                            </tr>
                            <tr ng-repeat="row in data.varMap">
                                <td style="border: 1px solid #dddddd; text-align: left; padding: 0px;"><input id="{{'varId_' + row.value.Variable.name}}" type="checkbox" onchange="variableChecked(this);" ng-true-value=true ng-false-value=false ng-checked={{row.check}} value={{row.value}} /></td>
                                <td style="border: 1px solid #dddddd; text-align: left; padding: 0px;"><label for="{{'varId_' + row.value.Variable.name}}" style="display:block">{{row.value.Variable.name}}</label></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- End Change Var Value Type -->
                <!-- Begin Ext. Sim Message Type -->

                <div id="SimMessagePanel" ng-if="data.action.value=='at3DSimMsg'">
                    <div style="display: table;">
                        <div style="display: table-row">
                            <span style="display:table-cell;">Sim Action:</span>
                            <select style="display: table-cell; width: 130px;" name="3DMessage" id="simMessageOptions" ng-model="data.simMessage" ng-options="sm as sm.name for sm in data.simMessages"></select>
                        </div>
                        <div id="simExtPanel" style="display: table-row">
                            <span style="display:table-cell;">External Sim:</span>
                            <select style="display: table-cell; width: 130px;" id="extSimSelection" ng-model="data.extSim" value="{{data.extSim}}" ng-options="es as es.name for es in data.extSimList"></select>
                        </div>
                        <div id="simVariablePanel" style="display: table-row" ng-if="data.simMessage.value == 'atCompModify'">
                            <span style="display:table-cell;">Var Value:</span>
                            <select style="display: table-cell; width: 130px;" name="3DMessage" ng-model="data.simVariable" ng-options="sv.name for sv in data.simVariables"></select>
                        </div>
                    </div>
                    <div style="display: table; margin-top:1em;" ng-if="data.simMessage.value == 'atOpenSim'">
                        <div id="simEndTimePanel" style="display:table-row">
                            <label style="display:table-cell;vertical-align:middle; white-space:nowrap;">Max Simulation Runtime:</label>
                            <div style="display:table-cell">
                                <div style="display: table-cell;">
                                    <input name="timespandays" placeholder="Days" ng-model="data.simEndTime.days" size="4" />
                                    <br />
                                    <span>Days</span>
                                </div>
                                <div style="display: table-cell;">
                                    <input name="timespanhours" placeholder="Hours" ng-model="data.simEndTime.hours" size="4" />
                                    <br />
                                    <span>Hours</span>
                                </div>
                                <div style="display: table-cell;">
                                    <input name="timespanminutes" placeholder="Minutes" ng-model="data.simEndTime.minutes" size="4" />
                                    <br />
                                    <span>Minutes</span>
                                </div>
                                <div style="display: table-cell;">
                                    <input name="timespanseconds" placeholder="Seconds" ng-model="data.simEndTime.seconds" size="4" />
                                    <br />
                                    <span>Seconds</span>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div id="simOpenSimVarParamsPanel" style="display:table-row">
                            <input type="checkbox" name="openSimVarParams" id="openSimVarParams" value="false" ng-model="data.openSimVarParams" onchange="handleOpenSimVarParamsChk()" />
                            <label for="openSimVarParams" id="openSimVarParamsText"> Use Variables for items below</label><br>
                        </div>
                        <!--TODO add selection boxes to load with variables. normally hidden if openSimVarParams is checked unhide and hide simModelRefPanel and simConfigDataPanel  -->
                        <div id="simModelRefPanel" style="display:table-row">
                            <span style="display:table-cell;">Model Reference (optional):</span>
                            <input ng-model="data.simModelRef" tabindex="1" ng-if="!data.openSimVarParams">
                            <select id="simModelRefVar" name="Variable" ng-if="data.openSimVarParams" ng-model="data.simModelRef" ng-options="opt.name as opt.name for opt in data.cvVariables" style="width: 130px;"></select>
                        </div>
                        <div id="simConfigDataPanel" style="display:table-row">
                            <span style="display:table-cell;">Config Data (optional):</span>
                            <input ng-model="data.simConfigData" tabindex="1" ng-if="!data.openSimVarParams">
                            <select id="simConfigDataVar" name="Variable" ng-if="data.openSimVarParams" ng-model="data.simConfigData" ng-options="opt.name as opt.name for opt in data.cvVariables" style="width: 130px;"></select>
                        </div>


                    </div>
                </div>
                <!-- End Ext. Sim Message Type -->
                <!-- Begin Run Application Type-->

                <div id="RunAppPanel" ng-if="data.action.value=='atRunExtApp'" class="fill-height">
                    <input type="radio" name="tabControl" value="code" ng-model="data.raType"> Use Code
                    <input type="radio" name="tabControl" value="template" ng-model="data.raType"> Use Custom Application
                    <!-- Code Tab -->
                    <div style="display: flex; flex-direction: row; align-items: stretch; height: calc(100vh - 8em); width: 98vw;" ng-if="data.raType == 'code'">
                        <div style="display: flex; flex-direction: column; flex: 1">
                            <p style="margin-bottom:0">Preprocess Code(c#)</p>
                            <div style="display: flex; flex-direction:row; flex: 1">
                                <code-editor code="data.raPreCode"></code-editor>
                            </div>
                            <div style="display: flex; flex-direction: row">
                                <span>Executable Location:</span>
                                <input ng-model="data.raLocation" tabindex="1">
                            </div>
                            <p style="margin-bottom:0">Postprocess Code(c#)</p>
                            <div style="display: flex; flex-direction:row; flex: 1">
                                <code-editor code="data.raPostCode"></code-editor>
                            </div>
                        </div>

                        <table id="tblVariables" style="text-align: left;" border="1" cellspacing="0">
                            <tr>
                                <th colspan="2">Variables used in code</th>
                            </tr>
                            <tr ng-repeat="row in data.varMap">
                                <td style="border: 1px solid #dddddd; text-align: left; padding: 0px;"><input id="{{'varId_' + row.value.Variable.name}}" type="checkbox" onchange="variableChecked(this);" ng-true-value=true ng-false-value=false ng-checked={{row.check}} value={{row.value}} /></td>
                                <td style="border: 1px solid #dddddd; text-align: left; padding: 0px;"><label for="{{'varId_' + row.value.Variable.name}}" style="display:block">{{row.value.Variable.name}}</label></td>
                            </tr>
                        </table>
                    </div>
                    <!-- Template Tab -->
                    <div ng-if="data.raType == 'template'" class="fill-height">
                        <select ng-options="opt as opt.name for opt in raTemplates" ng-model="data.raTemplate"></select>
                        <iframe name="customForm" src="{{data.raTemplate.path}}" style="display: block; height: 100%; width: 100%; border: none;"></iframe>
                    </div>
                </div>
                <!-- End Run Application Type-->
            </div>
            <br>
        </form>
    </div>


</body>
</html>
