<!--Copyright 2021 Battelle Energy Alliance-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Event Editor</title>
    <!--<link href="../styles/Editors.css" rel="stylesheet" />-->
    <script src="../config.js"></script>
    <script src="../scripts/angular/angular.js"></script>
    <script type="module">
        import { CodeJar } from "./lib/codejar.js";
        import { withLineNumbers } from "./lib/linenumbers.js";
    
        window.CodeJar = CodeJar;
        window.withLineNumbers = withLineNumbers;
    </script>
    <script src="./lib/prism.js"></script>
    <script src="../scripts/UI/Common.js"></script>
    <script src="../scripts/UI/wcfService.js"></script>

    <style type="text/css">
        table2 {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            font-size: 12px;
        }

        td2, th2 {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 0px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .editor {
            flex: 1;
            margin-right: 12px;
        }
    </style>
    <script src="./components/code-editor.js"></script>
    <script src="EventEditor.js"></script>

</head>
<body>

    <div ng-app="EventEditor">
        <div ng-controller="EEController" id="EEControllerPanel">
            <div style="display:table-row;">
                <span style="display:table-cell;vertical-align:middle;">Type:</span>
                <select id="typeOptionSelector" ng-model="typeOption" ng-options="to.name for to in typeOptions" style="width: 140px;" ng-change="handleSelection()">
                    <option>-- Choose Type --</option>
                </select>
            </div>
            <div style="display:table-row">
                <span style="display:table-cell;vertical-align:middle;">Name:</span>
                <input ng-model="name" tabindex="1" name="NameValue" />
                <input type="checkbox" name="AsNewItem" id="AsNewItem" value="false" ng-model="saveAsNew" onchange="setAsNewChecked()" />
                <label for="AsNewItem" id="AsNewItemText"> Save As New</label><br>
            </div>
            <div style="display:table-row;">
                <span style="display: table-cell;vertical-align:middle;">Desc:</span>
                <input size="40" tabindex="2" name="DescValue" ng-model="desc" />
            </div>

            <div id="movePanel"
                 style="display:table-row;position:absolute;visibility:collapse;height:60%;width:96%;overflow-x:hidden;overflow-y:visible;">
                <br />
                <div style="display:table-row;">
                    <input type="checkbox" onchange="moveFromCurrentHandler(this);" ng-true-value=true ng-false-value=false ng-checked=moveFromCurrent />
                    <span style="display: table-cell;vertical-align:middle;">Exit Parent state when event is Triggered</span>
                </div>
                <br />
            </div>
            <br />

            <br />
            <hr />
            <!-- Dynamic content    -->
            <div id="DetailContentPanel" style="height:auto;">
                <div id="VarConditionPanel"
                    ng-if="typeOption.value === 'etVarCond'"
                    style="display: flex; flex-direction: row; align-items: stretch; height: calc(100vh - 9em); width: 94vw;"
                >
                    <div style="display: flex; flex-direction: column; flex: 1">
                        Evaluate Code (c#) - Must return a boolean value! <br>
                        <div code-editor class="editor" code="conditionCode"></div>
                    </div>
                    <table id="tblVariables" style="text-align: left;" border="1" cellspacing="0">
                        <tr>
                            <th colspan="2">Variables used in code</th>
                        </tr>
                        <tr>
                            <td style="border: 1px solid #dddddd; text-align: left; padding: 0px;">
                                <input id="varId_CurTime" type="checkbox" checked disabled />
                            </td>
                            <td style="border: 1px solid #dddddd; text-align: left; padding: 0px;">
                                <label for="varId_CurTime" style="display:block">CurTime</label>
                            </td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid #dddddd; text-align: left; padding: 0px;">
                                <input id="varId_RunIdx" type="checkbox" checked disabled />
                            </td>
                            <td style="border: 1px solid #dddddd; text-align: left; padding: 0px;">
                                <label for="varId_RunIdx" style="display:block">RunIdx</label>
                            </td>
                        </tr>
                        <tr ng-repeat="row in varMap">
                            <td style="border: 1px solid #dddddd; text-align: left; padding: 0px;">
                                <input type="checkbox" onchange="variableChecked(this);" ng-true-value=true ng-false-value=false ng-checked={{row.check}} value={{row.value}} />
                            </td>
                            <td style="border: 1px solid #dddddd; text-align: left; padding: 0px;">{{row.value.name}}</td>
                        </tr>
                    </table>
                </div>
                <div id="3DSimPanel" ng-if="typeOption.value === 'et3dSimEv'" style="display:table-row;position:absolute;height:80%;width:96%;overflow-x:hidden;">
                    <label style="display:table-cell;vertical-align:middle; white-space:nowrap;">External Sim Variable:</label>
                    <select name="Variables" ng-model="variable" ng-options="v.name for v in variables" style="width: 130px;">
                        <option>-- Choose Variable --</option>
                    </select><br>
                    <div style="display: flex; flex-direction: row; align-items: stretch; height: 95%; width: 94vw;">
                        <div style="display: flex; flex-direction: column; flex: 1">
                            <label style="display:table-cell;vertical-align:middle; white-space:nowrap;">Evaluate Code (c#)</label>
                            <br>
                            <div style="display: flex; flex-direction:row; flex: 1">
                                <div code-editor class="editor" code="var3DCode"></div>
                            </div>
                        </div>
                        <table id="tblVariables" style="text-align: left;" border="1" cellspacing="0">
                            <tr>
                                <th colspan="2">Variables used in code</th>
                            </tr>
                            <tr>
                                <td style="border: 1px solid #dddddd; text-align: left; padding: 0px;">
                                    <input id="varId_CurTime" type="checkbox" checked disabled />
                                </td>
                                <td style="border: 1px solid #dddddd; text-align: left; padding: 0px;">
                                    <label for="varId_CurTime" style="display:block">CurTime</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid #dddddd; text-align: left; padding: 0px;">
                                    <input id="varId_RunIdx" type="checkbox" checked disabled />
                                </td>
                                <td style="border: 1px solid #dddddd; text-align: left; padding: 0px;">
                                    <label for="varId_RunIdx" style="display:block">RunIdx</label>
                                </td>
                            </tr>
                            <tr ng-repeat="row in varMap">
                                <td style="border: 1px solid #dddddd; text-align: left; padding: 0px;">
                                    <input type="checkbox" onchange="variableChecked(this);" ng-true-value=true ng-false-value=false ng-checked={{row.check}} value={{row.value}} />
                                </td>
                                <td style="border: 1px solid #dddddd; text-align: left; padding: 0px;">{{row.value.name}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="DistributionPanel" ng-if="typeOption.value === 'etDistribution'" style="display:table-row;position:absolute;height:70%;width:96%;overflow-x:hidden;overflow-y:scroll;">
                    <div style="display:table-row">
                        <span>Distribution type:</span>
                        <select name="distType" id="distTypeSelector" ng-model="distType" ng-options="type.name for type in distTypes" ng-change="handleDistSelection()"></select>
                        <div id="NormDistributionPanel" ng-if="distType.value === 'dtNormal' || distType.value === 'dtLogNormal'">
                            <div style="display:table-row">
                                <span style="display:table-cell;vertical-align:middle;">Mean:</span>
                                <select ng-if="distParameters[0].useVariable" ng-options="v.name as v.name for v in variables" ng-model="distParameters[0].variable"></select>
                                <input name="ngMean" ng-model="distParameters[0].value" ng-if="!distParameters[0].useVariable" />
                                <select ng-model="distParameters[0].timeRate" ng-options="t.value as t.name for t in timeOptions"></select>
                                <input type="checkbox" ng-model="distParameters[0].useVariable" /> Use Variable
                            </div>
                            <div style="display:table-row">
                                <span class="item_caption" style="display:table-cell;vertical-align:middle; white-space:nowrap;">Standard Deviation:</span>
                                <select ng-if="distParameters[1].useVariable" ng-options="v.name as v.name for v in variables" ng-model="distParameters[1].variable"></select>
                                <input name="ndStdDev" ng-model="distParameters[1].value" ng-if="!distParameters[1].useVariable" />
                                <select ng-model="distParameters[1].timeRate" ng-options="t.value as t.name for t in timeOptions"></select>
                                <input type="checkbox" ng-model="distParameters[1].useVariable" /> Use Variable
                            </div>
                            <div style="display:table-row">
                                <span class="item_caption" style="display:table-cell;vertical-align:middle; white-space:nowrap;">Minimum:</span>
                                <select ng-if="distParameters[2].useVariable" ng-options="v.name as v.name for v in variables" ng-model="distParameters[2].variable"></select>
                                <input name="ndMin" ng-model="distParameters[2].value" ng-if="!distParameters[2].useVariable" />
                                <select ng-model="distParameters[2].timeRate" ng-options="t.value as t.name for t in timeOptions"></select>
                                <input type="checkbox" ng-model="distParameters[2].useVariable" /> Use Variable
                            </div>
                            <div style="display:table-row">
                                <span class="item_caption" style="display:table-cell;vertical-align:middle; white-space:nowrap;">Maximum:</span>
                                <select ng-if="distParameters[3].useVariable" ng-options="v.name as v.name for v in variables" ng-model="distParameters[3].variable"></select>
                                <input name="ndMax" ng-model="distParameters[3].value" ng-if="!distParameters[3].useVariable" />
                                <select ng-model="distParameters[3].timeRate" ng-options="t.value as t.name for t in timeOptions"></select>
                                <input type="checkbox" ng-model="distParameters[3].useVariable" /> Use Variable
                            </div>
                        </div>
                        <div id="ExpDistributionPanel" ng-if="distType.value === 'dtExponential'">
                            <div style="display:table-row">
                                <span style="display:table-cell;vertical-align:middle;">Rate:</span>
                                <select ng-if="distParameters[0].useVariable" ng-options="v.name as v.name for v in variables" ng-model="distParameters[0].variable"></select>
                                <input name="edRate" ng-model="distParameters[0].value" ng-if="!distParameters[0].useVariable" />
                                <select ng-model="distParameters[0].timeRate" ng-options="t.value as t.name for t in timeOptions"></select>
                                <input type="checkbox" ng-model="distParameters[0].useVariable" /> Use Variable
                            </div>
                            <div style="display:table-row">
                                <span class="item_caption" style="display:table-cell;vertical-align:middle; white-space:nowrap;">Minimum:</span>
                                <select ng-if="distParameters[1].useVariable" ng-options="v.name as v.name for v in variables" ng-model="distParameters[1].variable"></select>
                                <input name="ndMin" ng-model="distParameters[1].value" ng-if="!distParameters[1].useVariable" />
                                <select ng-model="distParameters[1].timeRate" ng-options="t.value as t.name for t in timeOptions"></select>
                                <input type="checkbox" ng-model="distParameters[1].useVariable" /> Use Variable
                            </div>
                            <div style="display:table-row">
                                <span class="item_caption" style="display:table-cell;vertical-align:middle; white-space:nowrap;">Maximum:</span>
                                <select ng-if="distParameters[2].useVariable" ng-options="v.name as v.name for v in variables" ng-model="distParameters[2].variable"></select>
                                <input name="ndMax" ng-model="distParameters[2].value" ng-if="!distParameters[2].useVariable" />
                                <select ng-model="distParameters[2].timeRate" ng-options="t.value as t.name for t in timeOptions"></select>
                                <input type="checkbox" ng-model="distParameters[2].useVariable" /> Use Variable
                            </div>
                        </div>
                        <div id="WeibullDistributionPanel" ng-if="distType.value === 'dtWeibull'">
                            <div style="display:table-row">
                                <span style="display:table-cell;vertical-align:middle;">Shape:</span>
                                <select ng-if="distParameters[0].useVariable" ng-options="v.name as v.name for v in variables" ng-model="distParameters[0].variable"></select>
                                <input name="wdShape" ng-model="distParameters[0].value" ng-if="!distParameters[0].useVariable" />
                                <input type="checkbox" ng-model="distParameters[0].useVariable" /> Use Variable
                            </div>
                            <div style="display:table-row">
                                <span style="display:table-cell;vertical-align:middle;">Scale:</span>
                                <select ng-if="distParameters[1].useVariable" ng-options="v.name as v.name for v in variables" ng-model="distParameters[1].variable"></select>
                                <input name="wdScale" ng-model="distParameters[1].value" ng-if="!distParameters[1].useVariable" />
                                <select ng-model="distParameters[1].timeRate" ng-options="t.value as t.name for t in timeOptions"></select>
                                <input type="checkbox" ng-model="distParameters[1].useVariable" /> Use Variable
                            </div>
                            <div style="display:table-row">
                                <span class="item_caption" style="display:table-cell;vertical-align:middle; white-space:nowrap;">Minimum:</span>
                                <select ng-if="distParameters[2].useVariable" ng-options="v.name as v.name for v in variables" ng-model="distParameters[2].variable"></select>
                                <input name="ndMin" ng-model="distParameters[2].value" ng-if="!distParameters[2].useVariable" />
                                <select ng-model="distParameters[2].timeRate" ng-options="t.value as t.name for t in timeOptions"></select>
                                <input type="checkbox" ng-model="distParameters[2].useVariable" /> Use Variable
                            </div>
                            <div style="display:table-row">
                                <span class="item_caption" style="display:table-cell;vertical-align:middle; white-space:nowrap;">Maximum:</span>
                                <select ng-if="distParameters[3].useVariable" ng-options="v.name as v.name for v in variables" ng-model="distParameters[3].variable"></select>
                                <input name="ndMax" ng-model="distParameters[3].value" ng-if="!distParameters[3].useVariable" />
                                <select ng-model="distParameters[3].timeRate" ng-options="t.value as t.name for t in timeOptions"></select>
                                <input type="checkbox" ng-model="distParameters[3].useVariable" /> Use Variable
                            </div>
                        </div>
                        <hr />
                        <div ng-show="distUsesVariable()">
                            If Variable Changes:
                            <select ng-model="onVarChange" ng-options="t as t.name for t in distChangeTypes" ng-change="updateChangeDesc()">
                                <option></option>
                            </select>
                            {{onVarChange.desc}}
                        </div>
                    </div>
                </div>
                <div id="StateChangePanel" ng-if="typeOption.value === 'etStateCng'" style="display:table-row;position:absolute;height:70%;width:96%;overflow-x:hidden;overflow-y:scroll;">

                    <form name="inState">
                        <label>
                            <input type="radio" ng-model="isInState" value=true>
                            Enter state
                        </label>
                        <label>
                            <input type="radio" ng-model="isInState" value=false>
                            Exit state
                        </label>
                    </form>
                    <input name="AllItems" type="checkbox" ng-model="isAllItems">All Items
                    <input name="EvalCurOnInitial" type="checkbox" ng-model="evalCurOnInitial">Trigger if in a specified 'Enter State' initially
                    <br><br />

                    <table id="tblStates" style="text-align: left; width: 295px;" border="1" cellspacing="2">
                        <tr>
                            <td class="tabHeader">
                                <b>States</b><br>
                            </td>
                        </tr>
                        <tr ng-repeat="row in states">
                            <td style="border: thin dotted green;height:20px;">{{row}}</td>
                            <td style="width:12px;height:10px;text-align:center; ">
                                <img id="{{row}}" src="../images/delete2.png"
                                     style="height:16px;width:10px;cursor:pointer;" title="Delete"
                                     onclick="handleStateDelete(this);" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="ComponentLogicPanel" ng-if="typeOption.value === 'etComponentLogic'" style="display:table-row;position:absolute;height:70%;width:96%;overflow-x:hidden;overflow-y:scroll">
                    <input name="OnSuccess" type="checkbox" ng-model="onSuccess" />On Success <br />
                    <label style="display:table-cell;vertical-align:middle; white-space:nowrap;">Logic Top:</label>
                    <select name="LogicTop" ng-model="logicTop" ng-options="lt.name for lt in logicTops" style="width:130px;">
                        <option>-- Choose logic top --</option>
                    </select>
                </div>
                <div id="TimerPanel" ng-if="typeOption.value === 'etTimer'" style="display:table-row;position:absolute;height:70%;width:96%;overflow-x:hidden;overflow-y:scroll;">
                    <div style="display: table-row">
                        <label style="display: table-cell; vertical-align: top; white-space: nowrap;">Time Span:</label>
                        <div style="display: table-cell" ng-if="!data.timer.useVariable">
                            <div style="display: table-cell;">
                                <input name="timespandays" placeholder="Days" ng-model="time.days" size="4" />
                                <br />
                                <span>Days</span>
                            </div>
                            <div style="display: table-cell;">
                                <input name="timespanhours" placeholder="Hours" ng-model="time.hours" size="4" />
                                <br />
                                <span>Hours</span>
                            </div>
                            <div style="display: table-cell;">
                                <input name="timespanminutes" placeholder="Minutes" ng-model="time.minutes" size="4" />
                                <br />
                                <span>Minutes</span>
                            </div>
                            <div style="display: table-cell;">
                                <input name="timespanseconds" placeholder="Seconds" ng-model="time.seconds" size="4" />
                                <br />
                                <span>Seconds</span>
                            </div>
                        </div>
                        <div style="display: table-cell" ng-if="data.timer.useVariable">
                            <select style="display: table-cell;" ng-model="data.timer.variableName" ng-options="x.name for x in data.timer.allowedVariables">
                                <option>-- Choose Variable --</option>
                            </select>
                            <select style="display: table-cell;" ng-model="data.timer.variableUnit" ng-options="x.value as x.name for x in data.timer.allowedVariableUnits">
                                <option>-- Choose Unit --</option>
                            </select>
                        </div>
                    </div>
                    <br />
                    <div style="display: table-row">
                        <label style="display: table-cell" for="useTimerVariableCheckbox">Use Variable? </label>
                        <input id="useTimerVariableCheckbox" type="checkbox" ng-model="data.timer.useVariable" />
                    </div>
                    <div ng-show="data.timer.useVariable">
                        If Variable Changes:
                        <select ng-model="onVarChange" ng-options="t as t.name for t in distChangeTypes" ng-change="updateChangeDesc()">
                            <option></option>
                        </select>
                        {{onVarChange.desc}}
                    </div>
                    <input type="checkbox" ng-model="fromSimStart" /> From sim start
                </div>

                <div id="FailProbabilityPanel" ng-if="typeOption.value === 'etFailRate'" style="display:table-row;position:absolute;height:70%;width:96%;overflow-x:hidden;overflow-y:scroll;">
                    <div style="display: table-row">
                        <label style="display: table-cell" for="useFailureRateTimeRateVariableCheckbox">Use Variable Lambda/Frequency? </label>
                        <input id="useFailureRateTimeRateVariableCheckbox" type="checkbox" ng-model="data.failureRate.lambda.useVariable" />
                    </div>
                    <br />
                    <div style="display: table-row">
                        <span class="item_caption" style="display:table-cell;vertical-align:middle; white-space:nowrap;">Lambda/Freq:</span>
                        <div style="display: table-cell" ng-if="!data.failureRate.lambda.useVariable">
                            <input name="LambdaFrequency" ng-model="data.failureRate.lambda.lambda" onfocusout="validateNumber(this);" /><span ng-style="lambdaError" style="color:red"> Invalid number </span>
                        </div>
                        <div style="display: table-cell" ng-if="data.failureRate.lambda.useVariable">
                            <select style="display: table-cell;" ng-model="data.failureRate.lambda.variableName" ng-options="x.name for x in data.failureRate.lambda.allowedVariables">
                                <option>-- Choose Variable --</option>
                            </select>
                        </div>
                    </div>


                    <!--<input name="LambdaFrequency" ng-model="lambda" onkeypress="return validateNumber(this, event);" /><br />-->
                    <div style="display: table-row">
                        <label style="display: table-cell; vertical-align: top; white-space: nowrap;">Time Rate:</label>
                        <div style="display: table-cell">
                            <div style="display: table-cell;">
                                <input name="failtimespandays" placeholder="Days" ng-model="lambdaTimeRate.days" size="4" />
                                <br />
                                <span>Days</span>
                            </div>
                            <div style="display: table-cell;">
                                <input name="failtimespanhours" placeholder="Hours" ng-model="lambdaTimeRate.hours" size="4" />
                                <br />
                                <span>Hours</span>
                            </div>
                            <div style="display: table-cell;">
                                <input name="failtimespanminutes" placeholder="Minutes" ng-model="lambdaTimeRate.minutes" size="4" />
                                <br />
                                <span>Minutes</span>
                            </div>
                            <div style="display: table-cell;">
                                <input name="failtimespanseconds" placeholder="Seconds" ng-model="lambdaTimeRate.seconds" size="4" />
                                <br />
                                <span>Seconds</span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div ng-show="data.failureRate.lambda.useVariable">
                        If Variable Changes:
                        <select ng-model="onVarChange" ng-options="t as t.name for t in distChangeTypes" ng-change="updateChangeDesc()">
                            <option></option>
                        </select>
                        {{onVarChange.desc}}
                    </div>
                    <!--<span class="item_caption" style="display:table-cell;vertical-align:middle; white-space:nowrap;">Mission Time:</span>
    <input name="missiontimespandays" ng-model="missionTime.days" size="4" />
    <input name="missiontimespanhours" ng-model="missionTime.hours" size="4" />
    <input name="missiontimespanminutes" ng-model="missionTime.minutes" size="4" />
    <input name="missiontimespanseconds" ng-model="missionTime.seconds" size="4" />
    <br />-->
                </div>

            </div>


        </div>
    </div>

</body>
</html>
