<!--Copyright 2021 Battelle Energy Alliance-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>External Sim Editor</title>
    <link href="../styles/Editors.css" rel="stylesheet" />
    <script src="../config.js"></script>
    <script src="../scripts/jquery/jquery-2.1.4.js"></script>
    <script src="../scripts/angular/angular.js"></script>
    <script src="../scripts/UI/Common.js"></script>
    <script src="../scripts/UI/wcfService.js"></script>
    <script src="ExtSimEditor.js"></script>

</head>
<body ng-app="extSimModule">
    <div ng-controller="extSimController" id="extSimControllerPanel">
        <form novalidate style="font-size:1.0em;">
            <div style="display:table-row">
                <span style="display:table-cell">Name:</span>
                <input ng-model="name" tabindex="1">
            </div>
            <div style="display:table-row">
                <span style="display:table-cell">Application Name:</span>
                <input ng-model="resourceName" size="40" tabindex="2">
            </div>

            <hr />
        </form>
    </div>

</body>
</html>
