<!--Copyright 2021 Battelle Energy Alliance-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Gate Editor</title>
    <link href="../styles/Editors.css" rel="stylesheet" />
    <script src="../config.js"></script>
    <script src="../scripts/jquery/jquery-2.1.4.js"></script>
    <script src="../scripts/angular/angular.js"></script>
    <script src="../scripts/UI/Common.js"></script>
    <script src="../scripts/UI/wcfService.js"></script>
    <script src="GateEditor.js"></script>
    <script src="./directives/AutosizeTextareaDirective.js"></script>

</head>
<body ng-app="gateModule" onload="handleSelection();">
    <div ng-controller="gateController" id="gateControllerPanel">
        <form novalidate>
            <div style="display:table-row">
                <span style="display:table-cell">Gate type:</span>
                <select style="width: 140px;" id="ScopeOption" ng-model="type" ng-options="typ.name for typ in types" name="Type" onchange="handleSelection(); return false;"></select>
            </div>
            <div style="display:table-row">
                <span style="display:table-cell">Name:</span>
                <input ng-model="name" tabindex="1">
            </div>
            <div style="display:table-row">
                <span style="display:table-cell">Desc:</span>
                <textarea rows="1" cols="40" ng-model="desc"  tabindex="2" auto-resize></textarea>
            </div>
        </form>
    </div>


</body>
</html>
