<!--Copyright 2021 Battelle Energy Alliance-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Add Gate</title>
    <link href="../styles/Editors.css" rel="stylesheet" />
    <script src="../config.js"></script>
    <script src="../scripts/jquery/jquery-2.1.4.js"></script>
    <script src="../scripts/angular/angular.js"></script>
    <script src="../scripts/UI/Common.js"></script>
    <script src="../scripts/UI/wcfService.js"></script>
    <script src="GateAdder.js"></script>

</head>
<body ng-app="gateModule" onload="handleSelection();">
    <div ng-controller="gateController" id="gateControllerPanel">
        <div style="display:table-row">
            <span style="display:table-cell">Gate\Component: </span>
            <select style="width: 260px;" id="ScopeOption" ng-model="compType" ng-options="comp.name for comp in compTypes" name="Type" onchange="handleSelection(); return false;"></select>
        </div>
        <hr />
        <div id="detailTable">
            <div id="GatePanel" style="position: absolute; visibility: hidden;">
                <form novalidate>
                    <div style="display:table-row">
                        <span style="display:table-cell">Gate type:</span>
                        <select style="width: 140px;" id="GateOptions" ng-model="newGateType" ng-options="typ.name for typ in newGateTypes" name="newGateType" onchange="handleGateSelection(); return false;" ng-disabled="data.useExisting"></select>
                    </div>
                    <div style="display:table-row">
                        <span style="display:table-cell">Name:</span>
                        <input ng-model="newName" tabindex="1" ng-change="nameChanged()">
                    </div>
                    <div ng-if="match">
                        This gate already exists and the existing gate will be used. To create a new gate, please change the gate name.
                    </div>
                    <div style="display:table-row">
                        <span style="display:table-cell">Desc:</span>
                        <input ng-model="newDesc" size="40" tabindex="2"; ng-disabled="data.useExisting">
                    </div>
                </form>
            </div>
        </div>
        <div id="DiagramPanel" style="position: absolute;  visibility: hidden;">
            <form novalidate style="font-size:.9em;">
                <div style="display:table-row">
                    <span style="display:table-cell">Component Diagrams: </span>
                    <select style="width: 140px;" id="newDiagramInput" ng-model="newDiagramOption" ng-options="diagram.name for diagram in newDiagramOptions" name="newDiagram" onchange="handleDiagramSelection(); return false;"></select>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
