<!--Copyright 2021 Battelle Energy Alliance-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Link Properties</title>
    <script src="../scripts/angular/angular.js"></script>
    <script src="../scripts/UI/Common.js"></script>
    <script src="LinkEditor.js"></script>

</head>
<body ng-app="linkModule" onload="handleSelection();">
    <div ng-controller="linkController" id="linkControllerPanel">
        <form novalidate>
            <div style="display:table-row">
                <span style="display:table-cell;white-space:nowrap">To State:</span>
                <input style="white-space:nowrap;" ng-model="toState" tabindex="1" disabled>
            </div>
            <div style="display:table-row">
                <span style="display:table-cell;white-space:nowrap;">Probability:</span>
                <input ng-model="prob" size="10" tabindex="2" style="white-space:nowrap;" title="Value between 0 and 1, -1 = n/a." onkeypress="return validateNumber(this, event);">
            </div>
            <div style="display:table-row">
                <span style="display:table-cell;white-space:nowrap;">Fail Desc:</span>
                <textarea cols="40" rows="10" name="failDesc" ng-model="failDesc"></textarea><br>
            </div>
        </form>
    </div>

</body>
</html>
