<!--Copyright 2021 Battelle Energy Alliance-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>AngularJS ui-select</title>
    <script src="../scripts/jquery/jquery-2.1.1.js"></script>
    <script src="../scripts/angular/angular.js"></script>
    <link href="../styles/bootstrap.css" rel="stylesheet" />
    <script src="lib/dropdown.js"></script>
    <script type="text/javascript">
        function ExampleController($scope) {
            $scope.colors = [
                { name: 'black', shade: 'dark' },
                { name: 'white', shade: 'light' },
                { name: 'red', shade: 'dark' },
                { name: 'blue', shade: 'dark' },
                { name: 'yellow', shade: 'light' }
            ];
            $scope.myColor = $scope.colors[2]; // red
            $scope.changeColor = function (newColor) {
                $scope.myColor = newColor;
            };
        };
    </script>
    <style>
        #color-dropdown-menu {
            width: 200px;
        }

        .input-group {
            width: 200px;
        }

        .input-lg {
            height: 30px;
            font-size: 1em;
            padding: 0 10px;
        }
    </style>
</head>
<body>
    <div ng-app>
        <div class="row" ng-controller="ExampleController">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="myColor.name">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul id="color-dropdown-menu" class="dropdown-menu dropdown-menu-right" role="menu">
                        <li ng-repeat="color in colors" class="input-lg"><a href="#" ng-click="changeColor(color)">{{color.name}}</a></li>
                    </ul>
                </div>
            </div>
            {{colors}}
        </div>
    </div>
</body>
</html>
