<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>MAAP Form</title>
    <link href="../../styles/Editors.css" rel="stylesheet" />
    <link rel="stylesheet" href="../lib/ExternalExeForm.css" />
    <script src="../../scripts/angular/angular.js"></script>
    <script src="../lib/EditFormUtil.js"></script>
    <script src="../lib/ExternalExeForm.js"></script>
    <script src="./fileModel.js"></script>
    <script src="./maap-inp-parser.js"></script>
    <script src="./maap-par-parser.js"></script>
    <script src="./maap/components.js"></script>
    <script src="./maap.js"></script>
    <style>
      td,
      th {
        padding: 4px;
      }

      #newInitiatorSection {
        border: 2px solid;
        padding: 8px;
      }

      .pathInput {
        width: 350px;
      }

      #tabs {
        display: flex;
      }

      #tabs-header {
        margin-right: 8px;
      }

      #active-tab {
        width: 100%;
      }

      .tab-header {
        padding: 20px;
        margin-bottom: 8px;
        background-color: white;
        transition: all 150ms ease;
        border-right: 2px solid white;
      }

      .tab-active {
        border-right: 2px solid #222;
      }

      .block {
        padding: 8px;
        width: 100%;
      }

      .block:nth-child(odd) {
        background-color: rgb(182 182 182 / 35%);
      }

      .block > div {
        padding: 8px;
      }
    </style>
  </head>
  <body ng-app="maapForm">
    <form ng-controller="maapFormController" id="maapFormController">
      <label for="exePath">Executable location:</label>
      <input id="exePath" ng-model="exePath" class="pathInput" />
      <br />
      <label for="parameterBtn">Parameter file:</label>
      <input type="file" id="parameterBtn" file-model="parameterFile" />
      <br />
      <label for="parameterPath">Parameter file path:</label>
      <input id="parameterPath" ng-model="parameterPath" class="pathInput" />
      <br />
      <label for="inpBtn">Input file:</label>
      <input type="file" id="inpBtn" file-model="inputFile" />
      <br />
      <label for="inpPath">Input file path:</label>
      <input id="inpPath" ng-model="inputPath" class="pathInput" />
      <hr />
      <div id="tabs">
        <div id="tabs-header">
          <div
            class="tab-header"
            ng-click="tab = 'parameters'"
            ng-class="{ 'tab-active': tab == 'parameters' }"
          >
            Parameters
          </div>
          <div
            class="tab-header"
            ng-click="tab = 'initiators'"
            ng-class="{ 'tab-active': tab == 'initiators' }"
          >
            Initiators
          </div>
          <div
            class="tab-header"
            ng-click="tab = 'input-blocks'"
            ng-class="{ 'tab-active': tab == 'input-blocks' }"
          >
            Input Blocks
          </div>
          <div
            class="tab-header"
            ng-click="tab = 'outputs'"
            ng-class="{ 'tab-active': tab == 'outputs' }"
          >
            Outputs
          </div>
        </div>
        <div id="active-tab">
          <div ng-if="tab == 'parameters'">
            <h3>Parameters:</h3>
            <table>
              <tr>
                <th>Parameter</th>
                <th>Value</th>
                <th>Use Variable</th>
              </tr>
              <tr ng-repeat="parameter in parameters">
                <td>{{extractName(parameter.target)}}</td>
                <td>
                  <select
                    title="Select a variable"
                    ng-if="parameter.useVariable"
                    ng-options="opt.name for opt in variables"
                    ng-model="parameter.variable"
                    ng-change="save()"
                  ></select>
                  <input
                    title="Parameter value"
                    ng-if="!parameter.useVariable"
                    ng-model="parameter.value.value"
                    ng-change="changeText(parameter)"
                  />
                </td>
                <td>
                  <input
                    title="Use variable"
                    type="checkbox"
                    ng-model="parameter.useVariable"
                  />
                </td>
              </tr>
            </table>
          </div>
          <div ng-if="tab == 'initiators'">
            <h3>Initiators:</h3>
            <div id="newInitiatorSection">
              <label for="addInitiator">Add initiator:</label>
              <input
                list="initiatorList"
                id="addInitiator"
                ng-model="data.initiatorQuery"
                ng-change="findInitiators()"
                placeholder="Search for initiator"
              />
              <br />
              <b>Results:</b>
              <table>
                <tr ng-repeat="opt in initiatorOptions">
                  <td>{{opt.value}}</td>
                  <td>
                    <button type="button" ng-click="addInitiator(opt)">
                      Add
                    </button>
                  </td>
                </tr>
              </table>
            </div>
            <table>
              <tr>
                <th>Name</th>
                <th>Remove</th>
              </tr>
              <tr ng-repeat="(i, initiator) in initiators">
                <td>{{initiator.value}}</td>
                <td>
                  <button type="button" ng-click="removeInitiator(i)">X</button>
                </td>
              </tr>
            </table>
          </div>
          <div ng-if="tab == 'input-blocks'">
            <h3>Input Blocks:</h3>
            <div>
              <!-- TODO: display comments -->
              <div ng-repeat="block in blocks" maap-conditional-block data="block" class="block"></div>
            </div>
          </div>
          <div ng-if="tab == 'outputs'">
            <h3>Outputs:</h3>
            <table>
              <tr>
                <th>Doc Link Variable</th>
                <th>Output</th>
              </tr>
              <tr ng-repeat="varLink in varLinks track by $index">
                <td>
                  <select
                    title="Select variable"
                    ng-options="variable as variable.name for variable in docVars"
                    ng-model="varLink.variable"
                    ng-change="save()"
                  ></select>
                </td>
                <td>
                  <select
                    title="Target output"
                    ng-model="varLink.target"
                    ng-change="save()"
                  >
                    <option>CORE UNCOVERY</option>
                    <option>VESSEL FAILURE</option>
                    <option>CONTAINMENT FAILURE</option>
                  </select>
                </td>
                <td>
                  <button type="button" ng-click="removeOutput($index)">
                    Remove
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <button type="button" ng-click="addOutput()">
                    Add Output
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
