<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Open Error Pro Form</title>
    <link href="../lib/ExternalExeForm.css" rel="stylesheet" />
    <script src="../../scripts/angular/angular.js"></script>
    <script src="../lib/EditFormUtil.js"></script>
    <script src="../lib/ExternalExeForm.js"></script>
    <script src="./fileModel.js"></script>
    <script src="./openerror.js"></script>
    <script src="./prism-parser.js"></script>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        font-size: 12px;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 0px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }

      .conditions tr:nth-child(2) {
        border-bottom: 2px solid #c7c7c7;
      }

      #fileBtn {
        color: rgba(0, 0, 0, 0);
        width: 90px;
      }

      .inline {
        display: inline;
      }
    </style>
  </head>
  <body ng-app="openErrorForm">
    <div ng-controller="openErrorController">
      <form novalidate>
        <label for="exePath">Executable path:</label>
        <input id="exePath" ng-model="exePath" />
        <br />
        <label for="fileBtn">Load model:</label>
        <input
          type="file"
          id="fileBtn"
          file-model="modelFile"
          accept="application/xml, .xml"
        />
        <div class="inline">{{fileName}}</div>
        <br />
        <label for="prismPath">PRISM executable location:</label>
        <input id="prismPath" ng-model="prismPath" />
        <h1>Modify items:</h1>
        <!-- TODO: show all items that have been modified -->
        <label for="select-element">Element:</label>
        <select
          id="select-element"
          ng-options="element as element.name for element in elements"
          ng-model="addElement"
        ></select>
        <label for="select-condition">Condition:</label>
        <select
          id="select-condition"
          ng-options="epc as epc.label for epc in addElement.epcs"
          ng-model="addCondition"
        ></select>
        <table class="conditions">
          <tr>
            <th>Condition</th>
            <th>Use Variable</th>
            <th>Probability</th>
            <th>Outcome</th>
          </tr>
          <tr ng-repeat="then in getConditionDisplay() track by $index">
            <td>{{then.epc.label}}</td>
            <td>
              <input
                title="Use variable"
                type="checkbox"
                ng-model="then.useVariable"
                ng-if="!then.remaining"
                ng-change="setModified(then.epc)"
              />
            </td>
            <td>
              <span ng-if="then.remaining">Remaining</span>
              <div ng-if="!then.remaining">
                <input
                  title="Use variable"
                  ng-model="then.probability"
                  ng-if="!then.useVariable"
                  ng-change="setModified(then.epc)"
                />
                <select
                  title="Select variable"
                  ng-if="then.useVariable"
                  ng-options="opt.name for opt in cvVariables"
                  ng-model="then.variable"
                  ng-change="setModified(then.epc)"
                ></select>
              </div>
            </td>
            <td>
              <textarea
                title="Outcomes"
                ng-model="then.outcomes"
                ng-change="setModified(then.epc)"
              ></textarea>
            </td>
            <td>
              <button
                type="button"
                ng-if="!then.remaining"
                ng-click="removeOutcome($index)"
              >
                Remove
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <button type="button" ng-click="addOutcome()">Add Outcome</button>
            </td>
          </tr>
        </table>
        <hr />
        <h1>Outputs:</h1>
        <table>
          <tr>
            <th>Doc Link Variable</th>
            <th>PRISM Method</th>
            <th>Target Failure State</th>
          </tr>
          <tr ng-repeat="varLink in varLinks track by $index">
            <td>
              <select
                title="Select variable"
                ng-options="variable as variable.name for variable in docVars"
                ng-model="varLink.variable"
                ng-change="save()"
              ></select>
            </td>
            <td>
              <select
                title="Select PRISM method"
                ng-model="varLink.prismMethod"
                ng-options="opt for opt in prismMethods"
                ng-change="save()"
              ></select>
              <div ng-if="varLink.prismMethod == 'compute_P'">
                Initial time:
                <select
                  title="Select initial time"
                  ng-model="varLink.initialTime"
                  ng-options="varOpt.name for varOpt in cvVariables"
                  ng-change="save()"
                ></select>
              </div>
            </td>
            <td>
              <!-- TODO: fix select not working the first time -->
              <select
                title="Select target failure mode"
                ng-model="varLink.target"
                ng-options="failure for failure in failures"
                ng-change="save()"
              ></select>
            </td>
            <td>
              <button type="button" ng-click="removeOutput($index)">
                Remove
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <button type="button" ng-click="addOutput()">Add Output</button>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </body>
</html>
