<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>THModel Form</title>
    <link href="../../styles/Editors.css" rel="stylesheet" />
    <link rel="stylesheet" href="../lib/ExternalExeForm.css" />
  </head>
  <body ng-app="thModelForm">
    <form ng-controller="thModelController">
      Executable path: <input title="Executeable path" ng-model="exePath" />
      <br />
      Fail time:
      <select
        title="Fail time"
        ng-options="variable.name for variable in variables"
        ng-model="failTime"
      ></select>
      <br />
      Failure mode:
      <select title="Failure mode" ng-model="failureMode">
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
      <br />
      Repair time:
      <select
        title="Repair time"
        ng-options="variable.name for variable in variables"
        ng-model="repairTime"
      ></select>
      <br />
      Results variable:
      <select
        title="Results variable"
        ng-options="variable.name for variable in docVars"
        ng-model="resultsVariable"
      ></select>
    </form>
    <script src="../../scripts/angular/angular.js"></script>
    <script src="../lib/EditFormUtil.js"></script>
    <script src="../lib/ExternalExeForm.js"></script>
    <script src="./thmodel.js"></script>
  </body>
</html>
