{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": ["airbnb-base", "eslint:recommended", "plugin:jsdoc/recommended"],
  "plugins": ["sort-class-members", "jsdoc"],
  "rules": {
    "import/order": [
      "error",
      {
        "alphabetize": {
          "caseInsensitive": false,
          "order": "asc"
        },
        "groups": [["builtin", "external", "internal"]]
      }
    ],
    "jsdoc/check-indentation": 1,
    "jsdoc/check-line-alignment": 1,
    "jsdoc/match-description": 1,
    "jsdoc/require-description": 1,
    "jsdoc/require-description-complete-sentence": 1,
    "jsdoc/require-file-overview": 1,
    "jsdoc/valid-types": "off",
    "linebreak-style": "off",
    "max-classes-per-file": "off",
    "max-len": ["error", { "ignoreComments": true }],
    "require-jsdoc": [
      "error",
      {
        "require": {
          "ArrowFunctionExpression": true,
          "ClassDeclaration": true,
          "FunctionDeclaration": true,
          "FunctionExpression": true,
          "MethodDefinition": true
        }
      }
    ],
    "sort-class-members/sort-class-members": [
      2,
      {
        "accessorPairPositioning": "getThenSet",
        "order": [
          "[static-properties]",
          "[static-methods]",
          "[properties]",
          "[conventional-private-properties]",
          "constructor",
          "[methods]",
          "[conventional-private-methods]"
        ]
      }
    ],
    "sort-keys": "warn",
    "sort-vars": "warn"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
