/*Copyright 2021 Battelle Energy Alliance*/


html {
  height: 100vh;
  width: 100vw;
  //box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding:0;
}

/**, *:before, *:after {
  box-sizing: inherit;
}*/


		table.title {
			/*border-color: black;*/
      border: 1px solid transparent;
			border-collapse: collapse;
			/*cursor: move;*/
			/*height: 16px;*/
			/*border-bottom-style: none;*/
			color: black;
      width: 100%;
		}
		table.title th {
			font-size: 10pt;
			font-family: Verdana;
			white-space: nowrap;
			background: lightgray;
			font-weight: normal;
		}
		table.erd {
			font-size: 8pt;
      border:none;
			font-family: Verdana;
			border-color: black;
			border-collapse: collapse;
      border-spacing: 1px;
			overflow: auto;
			cursor: move;
			white-space: nowrap;
      width: 100%;
		}
    table.erd table td {
			/*border-color: black;*/
      border-collapse: collapse;
      border: none;
			text-align: left;
			color: black;
      padding:1px;
      border-width: 1px;
		}
		table.erd td {
			/*border-color: black;*/
      border: 1px solid black;
			text-align: left;
			color: black;
      padding:1px;
      border-width: 1px;
		}

    table.erd tr:hover {
      background-color: cadetblue;
      cursor:pointer;
    }
    table.erd tr th:hover {
      background-color: lightblue;
      cursor: pointer;
    }


    table.erd tr{
      background-color:lightblue;
    }
    table.erd tr tr{
      border-bottom: 1px solid gray;
      background-color:white;
    }

    .cellPanel {
      cursor: default;
      margin:0;
      padding:0;
      width: 100%;
      /*border: 1px solid black;*/
      overflow: auto;
    }


