

.css-treeview {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

  .css-treeview ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .css-treeview li {
    padding: 0;
    margin-left: 10px;
    /*border-radius: 10px;*/
    list-style: none;
  }

  .css-treeview input {
    position: absolute;
    opacity: 0;
  }
    .css-treeview li[draggable="true"]:hover {
        margin: 10px 0,0,0;
        text-decoration: none;
        /*background-color: yellow;*/
        border: 1px solid gray;
        cursor: pointer;
    }

  .css-treeview input + label + ul {
    margin: 0 0 0 8px;
  }

  .css-treeview input ~ ul {
    display: none;
  }

  .css-treeview input:disabled + label {
    cursor: default;
    opacity: .6;
  }

  .css-treeview input:checked:not(:disabled) ~ ul {
    display: block;
  }

  .css-treeview label {
    background: url('../images/FolderClose.gif') no-repeat;
    padding-left: 18px;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
    cursor: pointer;
  }

  .css-treeview input:checked + label {
    background:url('../images/FolderOpen.gif') no-repeat;
  }

/* webkit adjacent element selector bugfix */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .css-treeview {
    -webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
  }

  @-webkit-keyframes webkit-adjacent-element-selector-bugfix {
    from {
      padding: 0;
    }

    to {
      padding: 0;
    }
  }
}
