body {
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    background: white;
}

#chart {
    display: block;
}

#keyStateOptions {
    bottom: 0;
    position: fixed;
}

#node-menu-container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    top: 0;
    z-index: 1;
    display: none;
}

#node-menu {
    max-height: 80%;
    background-color: white;
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
    min-width: 500px;
    margin-top: 8px;
    position: absolute;
}

#node-menu-handle {
    width: 100%;
    height: 16px;
    background-color: #AAA;
    cursor: move;
}

#node-menu-contents {
    padding: 8px;
}

#color-options, #color-custom-options {
    display: flex;
}

.color-option {
    flex: 1;
    height: 50px;
    cursor: pointer;
}

#close-menu {
    width: 100%;
    height: 30px;
}
