 /*Copyright 2021 Battelle Energy Alliance*/

/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.theme-container.icons-page #states 
  color:red !important 

.theme-container.icons-page #events
  color:blue !important 
  
.theme-container.icons-page #actions
  color:orange !important 
