.emrald-diagram .react-flow__node-custom {
  & {
    font-size: 10px;
    background: var(--emrald-node-bg);
    color: var(--emrald-text);
    box-shadow: var(--emrald-node-shadow);
    border-radius: 6px;
  }

  .failed-state {
    background-color: var(--emrald-node-failed);
    border-radius: 6px;

    .state-node__header {
      border-bottom-color: var(--emrald-node-failed-header-border);
    }
  }

  .success-state {
    background-color: var(--emrald-node-success);
    border-radius: 6px;

    .state-node__header {
      border-bottom-color: var(--emrald-node-success-header-border);
    }
  }

  .react-flow__handle-right {
    width: 3px;
    height: 20px;
    border-radius: 2px;
    background-color: var(--emrald-node-handle);
  }

  .source-handle {
    top: 14px;
    right: -15px;
  }

  .target-handle {
    top: 19px;
    left: -5px;
  }

  .react-flow__handle-left {
    width: 3px;
    height: 20px;
    border-radius: 2px;
    background-color: var(--emrald-node-handle);
  }
}

.emrald-diagram .react-flow__node.circle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.emrald-diagram .react-flow__node.annotation {
  & {
    border-radius: 0;
    text-align: left;
    background: var(--emrald-annotation-bg);
    color: var(--emrald-text);
    border: none;
    line-height: 1.4;
    width: 225px;
    box-shadow: var(--emrald-node-shadow);
  }

  .react-flow__handle {
    display: none;
  }
}

.state-node__header {
  padding: 8px 10px;
  border-bottom: 1px solid var(--emrald-node-header-border);
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.state-node__body {
  padding: 10px;
}

.state-node__immediate-actions {
  position: relative;
  margin-bottom: 10px;
}

.state-node__event-actions {
  position: relative;
  margin-bottom: 10px;
}

.state-node__connection-svg { 
  overflow: visible;
  position: absolute;
  left: 0; 
  right: 0;
  top: 0; 
  bottom: 0;
}

.react-flow__edge-textbg {
  fill: transparent;
}